@model ProjetoEnade.Models.QuestaoGabarito

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuestaoGabarito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provas.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enunciado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enunciado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespostaA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespostaA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespostaB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespostaB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespostaC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespostaC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespostaD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespostaD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespostaE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespostaE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespostaCorreta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespostaCorreta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
